## Generic
.classpath
pom.xml.releaseBackup
.project
target
.DS_Store
.settings
release.properties
META-INF
.idea
*.iml

## Testing
*.cer
cacerts
files
src/test/java/com/github/ashrobinson/rest/unirest/integrations/
src/test/java/com/github/ashrobinson/rest/unirest/threatintel/