## Generic
.classpath
pom.xml.releaseBackup
.project
target
.DS_Store
.settings
release.properties
META-INF
.idea
*.iml

## Testing
*.cer
cacerts
files
src\test\java\com\mashape\unirest\test\arr\integrations
src\test\java\com\mashape\unirest\test\arr\threatintel